extends layout

block content
  h1= title
  //- Assuming `results` is passed correctly from your server with `_id` included
  div(class="container-fluid")
    div(class="row m-1")
      each item in results 
        div(class="col-sm-2")
          ul 
            li #{item.gun_type}
            li #{item.Manufacturer}
            li #{item.Caliber}
          button.btn.btn-primary.ml-1(onclick=`dispatch("/gun/update?id=${item._id}")`) Update

  script.
    function dispatch(path){
      window.location.href = path;
    }
