extends layout

block content
  h1= title
  if toShow == null
    h2 No instance to delete
  else
    - let gunid = toShow._id
    - let gun_type = toShow.gun_type
    - let guncost = toShow.Manufacturer
    - let gunsize = toShow.Caliber
    - let actionid = "/resource/guns/" + gunid
    script.
      let actionid = "#{actionid}";

    div
      .row
        .gunAttr.mr-3 gun ID is:
        div #{gunid}

      .row
        .gunAttr.mr-3 gun Type is:
        div #{gun_type}

      .row
        .gunAttr.mr-3 gun Manufacturer is:
        div #{gunsize}

      .row
        .gunAttr.mr-3 gun Caliber is:
        div #{guncost}

      button.btn.btn-danger.m-2(onclick="deleteOnid()") Delete
      button.btn.btn-secondary.m-2(onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the gun collection
        window.location.href = '/guns';
      }

    script.
      function deleteOnid() {
        console.log("starting delete");
        // Perform the delete operation
        fetch(actionid, {
          method: 'DELETE' // No need for a body in the DELETE request
        }).then((resp) => {
          return resp.json(); // or resp.text(), depending on the server response
        }).then((body) => {
          alert("Delete succeeded");
          window.location.href = '/guns';
          // Additional handling of server response can be done here
        }).catch((error) => {
          // Handle any errors here
          alert("Delete failed: " + error);
        });
      }
